body {
    background-image: url("../images/Group20.png");
    background-repeat: no-repeat;
}

.NZN {
    position: absolute;
    left: 52px;
    top: 23px;
   }
   
   .profile {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1301px;
    top: 11px;
   }
   
   .home {
    position: absolute;
    width: 69px;
    height: 26px;
    left: 787px;
    top: 22px;
    font-family: Futura;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
   }

   .home:hover {
    font-weight:bold;
}
   
   .line1 {
       position: absolute;
       width: 130px;
       left: 787px;
       top: 51px;
       border: 1px solid #010101;
   }
   
   .line2 {
       position: absolute;
       width: 130px;
       left: 970px;
       top: 51px;
       border: 1px solid #010101;
   }
   
   .line3 {
       position: absolute;
       width: 130px;
       height: 0px;
       left: 1147px;
       top: 51px;
       border: 1px solid #010101;
   }
   
   .work {
    position: absolute;
    width: 65px;
    height: 26px;
    left: 968px;
    top: 23px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
}

.work:hover {
    font-weight:bold;
}

.about {
    position: absolute;
    width: 97px;
    height: 26px;
    left: 1146px;
    top: 23px;    
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
}

.about:hover {
    font-weight:bold;
}

.nicpic {
    position: absolute;
    width: 400px;
    height: auto;
    left: 200px;
    top: 180px;
}

.aboutp {
    position: absolute;
width: 500px;
height: 669.28px;
left: 700px;
top: 280px;
font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #010101;
margin-bottom:40px;
}

.about2 {
    position: absolute;
    width: 500px;
    height: 669.28px;
    left: 700px;
    top: 300px;
    font-family: Kannada MN;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #010101;
    padding-top:10px;
}

.about3 {
    position: absolute;
    width: 500px;
    height: 669.28px;
    left: 700px;
    top: 350px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #010101;
    padding-top: 30px;
}

.about4 {
    position: absolute;
    width: 500px;
    height: 669.28px;
    left: 700px;
    top: 425px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #010101;
    padding-top: 30px;
}

.about5 {
    position: absolute;
    width: 500px;
    height: 669.28px;
    left: 700px;
    top: 600px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #010101;
    padding-top: 30px;
}

.buttonemail {
        background: #0AABAB;
        box-shadow: 2px 3px 4px rgba(196, 196, 196, 0.54);
        border-radius: 10px;
        position: absolute;
        width: 250px;
        height: 50px;
        left: 880px;
        top: 725px;
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
        color:#FFFEFE;
        text-align: center;
    }
    
    .buttonemail:hover {
        background-color: #FFD43C;
    }
    
    h2 { 
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        width: 1138px;
        height: 474px;
        background: rgba(227, 36, 188, 0.6);
        /* border-radius: 10.4447px; */
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 825px;
    }







.footline {
    position: absolute;
width: 1359px;
left: 38px;
top: 2500px;
border: 1px solid #010101;
}

.linked {
    position: absolute;
left: 84.4%;
right: 12.67%;
top: 2525px;
bottom: 0.61%;
padding-bottom: 20px;
}

.dribble {
    position: absolute;
    left: 87.4%;
    right: 12.67%;
    top: 2525px;
    bottom: 0.61%;
    padding-bottom: 20px;
}

.inst {
    position: absolute;
    left: 90.4%;
    right: 12.67%;
    top: 2525px;
    bottom: 0.61%;
    padding-bottom: 20px;
}

.med {
    position: absolute;
    left: 93.4%;
    right: 12.67%;
    top: 2530px;
    bottom: 0.61%;
    padding-bottom: 20px;
}

.footerp {
    position: absolute;
width: 648px;
height: 34px;
left: 38px;
top: 2535.13px;
font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #010101;
}




